* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial;
    background-color: black; 
    margin: 0;
    min-height: 100vh;
  }


header {
    padding: 20px; 
    background-color: black;
}

h2 {
    font-size: 32px;
    color: black; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

#resume p {
    font-size: 22px;
    color: white; 
    text-align: center; 
}

.first-app header {
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.card header {
    font-size: 18px;
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
}

#about-me p {
    font-size: 18px; 
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
}

.card p {
    font-size: 16px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

footer {
     padding: 20px;
     font-size: 22px; 
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;

}

footer ul {
    list-style: none; 
}