
h1 {
    display: inline-block;
    font-size: 32px;
    padding: 10px; 
    background: turquoise;
    color: black;
}
.header {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; 
}

.header, ul {
    list-style-type: none;
}
.header, li {
    display: inline-block; 
    margin-left: 25px; 
    color: turquoise;
}

.header, a {
    color: turquoise;
}

#banner {
        height: 160px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url(https://img.freepik.com/premium-photo/colorful-background-with-geometric-pattern_826801-3192.jpg);
        background-size: cover;
        background-position: center;
}

main {
    display: flex; 
    flex-direction: column;
}

h2 {
    border-right: 3px solid white; 
    float: left; 
}

h3, p {
    align: center;
}


.images {
    height: 200px;
    width: 400px;
    flex-flow: column wrap; 
}

footer {
    margin-top: 5em;
    display: flex; 
    justify-content: center;
}

.contact-me {
    flex: 1 0 0;
    flex-direction: row;
    color: turquoise;
    background-color: black; 
}

a {
    text-decoration: underline;
    text-underline-offset: 35%;
    text-decoration-thickness: 15%;
}

@media screen and (max-width: 992px) {
    body {
      flex-wrap: column wrap; 
    }
  }

  @media screen and (max-width: 768px) {
    body {
        flex-wrap: column wrap;
    }
  }
  
  @media screen and (max-width: 576px) {
    body {
        flex-wrap: column wrap; 
    }
  }